{
  "presets": [
    ["@babel/preset-env", { "targets": "> 0.25%, not dead" }], 
    "@babel/preset-flow"
  ],
  "plugins": ["@babel/plugin-transform-async-to-generator", "@babel/transform-runtime"]
}
